{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties"
    ]
}
// {
//     "presets": [
//         "env",
//         // "react",
//         "@babel/preset-react"
//     ],
//     "plugins": [
//         "transform-class-properties"
//     ]
// }