input, select, textarea, button {
    font-family: 'Lato',helvetica,arial,clean,sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
    color: $txtCol;
    outline: none;
}

input, select, textarea {
    outline: none;
    border: 1px solid #979797; 
}

input[type=text], input[type=password], input[type=submit], input[type=button], select, textarea, button {
    border-radius: 0;
    -webkit-appearance: none;
    appearance: none;
}

input[type=radio] { margin: 0 .3rem 0 .6rem; }

input:focus, select:focus, textarea:focus {
    border-color: #455761;
}

input:hover, select:hover, textarea:hover {
    border-color: $black;
}

.error-label,
.success-label {
    clear: both;
    display: block;
    margin-bottom: 2rem;
    padding: 2rem;
    color: $white;
    font-weight: 500;
}

.error-label { background: $red; }

.success-label { background: #00b3bd; }

.form_wrap, .form_row {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}

.form_wrap {
    padding: 0 10px;

    .form_row {
        margin-bottom: 2rem; 

        .form_item {

            .form_label {
                padding-bottom: 1rem;
            
                label {
                    font-size: 1.5rem;
                    font-weight: 400;
                    font-style: normal;
                    color: $txtCol;
                    opacity: 0;
                }

            }

            .form_input {
                display: block;
                width: 100%;
                padding: 0;
                margin: 0;
                position: relative;

                input {
                    width: 100%;
                    padding: 14px 3px;
                    font-size: 1.5rem;
                    font-weight: 400;
                    font-style: normal;
                    color: $txtCol;
                    border: none;

                    &:hover + .bottom_border::after,
                    &:focus + .bottom_border::after {
                        width: 100%;
                        @include transition(all .4s ease-in-out);
                    }
                }

                .bottom_border {                
                    width: 0; height: 0;

                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 0; left: 0;
                        width: 100%;
                        height: 1px;
                        background: $lightGrey;
                        z-index: 1;
                        pointer-events: none;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0; left: 0;
                        width: 0%;
                        height: 2px;
                        background: $lightBlue;
                        z-index: 2;
                        pointer-events: none;
                        @include transition(all .4s ease-in-out);
                        
                    }

                }

            }

            .form_textarea {
                textarea {
                    width: 100%;
                    padding: 9px 12px;
                    font-size: 1.5rem;
                    font-weight: 400;
                    font-style: normal;
                    color: $txtCol;
                }
            }

            .invalid_msg {
                display: none;
                font-size: 1.3rem;
                color: $red;
                line-height: normal;
                padding: 1rem 0 0;
            }

            .helperText {
                font-size: 1.2rem;
                line-height: 1.4rem;
                font-weight: 400;
                color: $lightGrey;
                padding: 1rem 3px 0;
            }

            &.invalid.dirty {

                .invalid_msg {
                    display: block;
                }

            }

        }

    }

    .formBottomLinks {
        margin: 5rem auto 0;
    }


}

.form_buttons {
    display: block;
    width: 100%;

    .btn {
        display: inline-block;
        font-size: 1.3rem;
        line-height: normal;
        color: #ffffff;
        font-weight: 700;
        font-style: normal;
        letter-spacing: 2px;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        padding: 1.3846153846153846em 1.9230769230769231em;
        margin: 0;
        border: 1px solid #000000;
        border-radius: 3px;
        background-color: #171717;
        -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.4);
        -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.4);
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.4);
        cursor: pointer;

        &:hover {
            background: rgba(0,0,0,.7);
            border-color:  rgba(0,0,0,.7);
        }

        &:disabled {
            opacity: .6;
            pointer-events: none;
        }

    }

    .btn, .btn:hover {
        @include transition(all .4s ease-in-out);
    }

}

// placeholders
::-moz-placeholder {
    color: #999;
}
:-ms-input-placeholder {
    color: #999;
}
::-webkit-input-placeholder {
    color: #999;
}    

// Removing input background colour for Chrome autocomplete
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}